body {
  display: block;
  margin: 8px;
  background-image: url(https://t4.ftcdn.net/jpg/03/54/69/67/360_F_354696735_wXsTTL8T7IRtisCJwrHk5eQ7P5BtMTQ8.jpg)
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header, nav, section, article, footer {
  padding: 20px;
  margin: 10px 0;
  background: #3232;
  background-color: rgba(161, 46, 46, 0.9);
  border: 5px solid #131212;
  
}

article {
  width: 47%;
  text-align: center;
}


section {
 display: flex;
 justify-content: space-between;

}

div {
  display: block;
}

footer {
  display: block;
  text-align: center;
}

